<div class="rate">
  <%= radio_button_tag "#{product.id}_rate", "5", @rating && @rating.point == 5,
    {id: "#{product.id}_star5"} %>
  <%= label(product.id, :star5) %>

  <%= radio_button_tag "#{product.id}_rate", "4", @rating && @rating.point == 4,
    {id: "#{product.id}_star4"} %>
  <%= label(product.id, :star4) %>

  <%= radio_button_tag "#{product.id}_rate", "3", @rating && @rating.point == 3,
    {id: "#{product.id}_star3"} %>
  <%= label(product.id, :star3) %>

  <%= radio_button_tag "#{product.id}_rate", "2", @rating && @rating.point == 2,
    {id: "#{product.id}_star2"} %>
  <%= label(product.id, :star2) %>

  <%= radio_button_tag "#{product.id}_rate", "1", @rating && @rating.point == 1,
    {id: "#{product.id}_star1"} %>
  <%= label(product.id, :star1) %>
</div>
