<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @product.image.url, class: "img-responsive",
        alt: t("alt.product_image") %>
    </div>
    <div class="col-md-6">
      <h2><%= @product.name %></h2>
      <div class="row">
          <%= render partial: "shared/rating", locals: {product: @product} %>
      </div>
      <p class="ratings"><%= @rate_count %><%= t("show_product.reviews") %></p>
      <p class="description"><%= @product.description %></p>
      <h3 class="price"><%= @product.price %></h3>
      <%= link_to t("show_product.add_to_cart"), "#",
        class: "btn btn-primary" %>
    </div>
  </div>
</div>
