<!DOCTYPE html>
<html>
  <head>
    <title><%= t "project_name" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="fb-root"></div>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
      <% if logged_in?%>
        <%= javascript_include_tag "subiz_chat", "data-turbolinks-track": "reload" %>
      <% end %>
  </body>
</html>
